---
import Layout from "@/layouts/LayoutEn.astro"

import About from "@/components/sections.english/AboutEn.astro"
import Education from "@/components/sections.english/EducationEn.astro"
import Courses from "@/components/sections.english/CoursesEn.astro"
import Experience from "@/components/sections.english/ExperienceEn.astro"
import Hero from "@/components/sections.english/HeroEn.astro"
import Skills from "@/components/sections.english/SkillsEn.astro"
import Projects from "@/components/sections.english/ProjectsEn.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import { basics } from "cv_en.json"
const { name, label } = basics
---

<Layout title={`Portfolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <Skills />
    <Experience />
    <Education />
    <Courses />
  </main>
</Layout>

<style>
  main {
    padding: 3rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>